.main{
    display: flex;
    margin: 32px;
}

.middle, .middle-no-transaction{
    width: 100%;
    margin-left:15px;
    margin-right:15px;
    margin-top: 0;
}

.button-div>button {
    background: rgb(56, 97, 251);
    font-weight: 600;
    font-size: 14px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.middle-no-transaction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-no-transaction img{
    width: 250px;
    height: 250px;
}

.middle-no-transaction h1 {
    font-size: 35px;
    font-weight: 700;
}

.middle-no-transaction p {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color:rgb(88, 102, 126)
}

.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width: 900px) {
    .main {
       margin: 0;
       padding: 0;
       padding-top: 20px;
       width: 100%;
    }
    .middle{
        margin: 0;
        padding: 0;
    }
    .middle-no-transaction h1 {
        font-size: 30px;
        padding-left: 15px;
    }
}